<div class="row">
<%= form_for @user do |f| %>
<div class="medium-6 large-6 columns">
    <%= f.label 'Enter your name' %>
    <%= f.text_field :name %>
</div>
<div class="medium-6 large-6 columns">
    <%= f.label 'Enter your email' %>
    <%= f.text_field :email %>
</div>
<div class="medium-6 large-6 columns">
    <%= f.label 'Enter a password' %>
    <%= f.password_field :password %>
</div>
<div class="medium-6 large-6 columns">
    <%= f.label 'Name a favorite band' %>
    <%= f.text_field :favorite_band %>
</div>
<%= f.submit 'Create Account', :class => 'submitButton' %>
<% end %>
</div>