<div id="userProfileInfo">
    <h4>User Profile</h4> 
      <hr>
    
    <div class="medium-6 medium-push-6 large-6 large-push-6 columns">
      <% if @user.image_file_name %>
      	<%= image_tag @user.image.url(:medium), :class => 'image' %>
      <% end %>
    </div>

    <div class="medium-6 medium-pull-6 large-6 large-pull-6 columns">
    <p class='userInfo'>Name: <%= @user.name %></p>

    <p class='userInfo'>Email: <%= @user.email%></p>

    <p class='userInfo'>Favorite Band: <%= @user.favorite_band %></p>

<%= link_to 'Edit User Info', edit_user_path(@user), :class => 'button tiny' %>
    </div>
</div>
<div class="clearfix"></div>
<div class="eventWrapper">
    <h4>Saved Events</h4> 
      <hr>
    <div class="medium-6 large-3 columns">   
        <% @event.each do |f| %>

        <% time = DateTime.parse(f.event_date) %>
        	<div class="eventInfo">
        		<p><%= f.venue_name %></p>
        		<p><%= time.to_formatted_s(:long_ordinal) %></p>
        		<p><%= f.venue_city %>, <%= f.venue_state %></p>
        		<p><%= f.artists[1].to_s.split(/>/)[1] %> </p>
        		<p><%= f.artists[3].to_s.split(/>/)[1] %> </p>
        		<p><%= f.artists[5].to_s.split(/>/)[1] %> </p>
        		<p><%= f.artists[7].to_s.split(/>/)[1] %> </p>
        		<p><%= f.artists[9].to_s.split(/>/)[1] %> </p>
        		<p><%= f.artists[11].to_s.split(/>/)[1] %> </p>
        		<p><%= f.artists[13].to_s.split(/>/)[1] %> </p>
        		<p><%= f.artists[15].to_s.split(/>/)[1] %> </p>
        		<p><%= f.artists[17].to_s.split(/>/)[1] %> </p>
        		<p><%= f.artists[19].to_s.split(/>/)[1] %> </p>
        		<p><%= f.artists[21].to_s.split(/>/)[1] %> </p>
                <a href="/events/<%= f.id %>" class="item button tiny" role="button">View Map &amp; Details</a>
            </div>
        	</div>
        <% end %>
            
    </div>
</div>
<div class="clearfix"></div>