<div class="row">
<div class="full">
    <h2>Search for Events</h2>
</div>
  <div class="medium-4 large-6 columns">
    <%= form_tag '/events/search/location/' do  %>
    	    ZIP Code: 
    	    <%= search_field_tag :zip %>
    	    <%= submit_tag "Search", :class => 'submitButton' %>
    <% end %>
    </div>   
   <div class="medium-8 large-6 columns">
    <%= form_tag '/events/search/artist/' do  %>
    	    Artist Name: 
    	    <%= search_field_tag :name %>
    	    <%= submit_tag "Search", :class => 'submitButton'%>
    <% end %>
    </div>   
</div>