
<% @response["Events"].each do |event| %>
	<div>
		<h2> <%= event.venue_name %> </h2>
		<h3> <%= event.event_date %> </h3>
		<h3> <%= event.venue_city %>, <%= event.venue_state %> </h3>
		<p> Artists: </p>
		<ul>
		<% event.artists.each do |a| %>
			<li> <%= a["Name"] %> </li>
		<% end %>
		</ul>
		<a href="<%= event.ticket_url %>">Buy Tickets</a>

		<%= form_for event, :url => {:method => :post, :action=>'create', :controller=>'events'} do |f|%>
			<%= f.hidden_field :venue_name, value: event.venue_name %>
			<%= f.hidden_field :event_date, value: event.event_date %>
			<%= f.hidden_field :venue_city, value: event.venue_city %>
			<%= f.hidden_field :venue_state, value: event.venue_state %>
			<%= f.hidden_field :artists, value: event.artists %>
			<%= f.hidden_field :user_id %>
			<%= f.submit %>
		<%end%>
	</div>
<% end %>