
<% @response["Events"].each do |f| %>
	<div>
		<h2> <%= f["Venue"]["Name"] %> </h2>
		<h3> <%= f["Date"] %> </h3>
		<h3> <%= f["Venue"]["City"] %>, <%= f["Venue"]["State"] %> </h3>
		<p> Artists: </p>
		<ul>
		<% f["Artists"].each do |a| %>
			<li> <%= a["Name"] %> </li>
		<% end %>
		</ul>
		<a href="<%= f["TicketUrl"] %>">Buy Tickets</a>
	</div>
<% end %>