<div class="row">
    <div class="large-6 columns">
        <div id="googleMap">
          <% url = 'https://www.google.com/maps/embed/v1/place?key='+ ENV["GOOGLE_MAPS_VAR"] + '&q='+ @event.venue_name %>
          <iframe width='400px' height='400px' frameborder='0' style='border:0;' src='<%= url %>'>
           </iframe>
        </div>
    </div>

    <div class="large-6 columns">
        <div class="venueInfo">
            <% time = DateTime.parse(@event.event_date) %>
            <p><%= time.to_formatted_s(:long_ordinal) %></p>
            <p><%= f.artists[1].to_s.split(/>/)[1] %> </p>
            <p><%= f.artists[3].to_s.split(/>/)[1] %> </p>
            <p><%= f.artists[5].to_s.split(/>/)[1] %> </p>
            <p><%= f.artists[7].to_s.split(/>/)[1] %> </p>
            <p><%= f.artists[9].to_s.split(/>/)[1] %> </p>
            <p><%= f.artists[11].to_s.split(/>/)[1] %> </p>
            <p><%= f.artists[13].to_s.split(/>/)[1] %> </p>
            <p><%= f.artists[15].to_s.split(/>/)[1] %> </p>
            <p><%= f.artists[17].to_s.split(/>/)[1] %> </p>
            <p><%= f.artists[19].to_s.split(/>/)[1] %> </p>
            <p><%= f.artists[21].to_s.split(/>/)[1] %> </p>
            <p><%= @event.venue_name %></p>
            <p><%= @event.venue_city %>, <%= @event.venue_state %></p>
            <a class="button tiny" href="<%=@event.ticket_url%>" target="_blank">Buy Tickets</a>
        </div>
    </div>
</div>  