<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Syncopate' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="container">
      <div id="header">
        <h1 id="mainHeading">Concert App</h1>
      
    <% if session[:user_id] %>
     <%= link_to("Log Out", "/sessions", method: :delete) %>
    <% else %>
    <a href="#" data-reveal-id="myModal" class="loginButton radius button">Login</a>
    <a href="/users/new" class="loginButton radius button">Create Account</a>
    </div>
    <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <%= form_tag '/sessions/create' do  %>
        Email: 
        <%= email_field_tag :email %>
        Password: 
        <%= password_field_tag :password %>
        <%= submit_tag "Log In", :class => 'submitButton'%>
     <% end %>
     <a class="close-reveal-modal" aria-label="Close">&#215;</a>
   </div>
<% end %>


    <%= yield %>
    </div> <!-- end container div -->
  </body>
</html>
